
#about >div{
  padding: 2rem 0;
  max-width: 1110px;
  margin: 4rem auto;
  display: flex;
  align-items: center;
  gap: 4rem;
}

#about h2{
  text-transform: uppercase;
  font-size: 2rem;
  
}
#about h2 span{
  color:var(--accent);
  
}
#about h2 span::after{
  content: "";
  display: block;
}

#about p{
  margin: 2rem 0;
  color:var(--text)
}
#about img{
  max-width: 50%;
  border-radius: 1rem;
}