footer{
  background-color: var(--black);
  color: var(--white);
 
  
}
footer > div{
  margin: 0 auto;
  max-width: 1110px;
  padding: 2rem;
}
footer >div nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 0;
}
footer>p{
  margin: 0 auto;
}
footer nav > div{
  font-weight: bold;
  display: flex;
  gap: 1rem;
  letter-spacing: .1rem;
}
footer .details{
  display: flex;
  flex-direction: row;
  margin-bottom: 2rem;
}
footer p{
  max-width: 50%;
  color: var(--textLight);
}
footer .details .icons{
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin-left: auto;
  gap: 1rem;
}
footer a{
  text-decoration: none;
  text-transform: uppercase;
  color: var(--white);
  font-weight: bold;
  letter-spacing: .1rem;
  transition: color .15s ease;
}

footer a:hover{
  color: var(--accent);
}
footer a img:hover{
  fill: var(--accent);
}