header{
  background-color: var(--black);
  color: var(--white);
  position: relative;
}

header>div{
  max-width: 1110px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  padding: 2rem;
  justify-content: space-between;
  align-items: center;
  position: relative;
  border-bottom: .08rem var(--divider) solid;
}
header >div >a{
  display: inline-block;
  display: flex;
  align-items: center;
}

header nav{
  margin: auto;
  display: flex;
  gap: 1rem;
  
}
header nav a{
  text-decoration: none;
  text-transform: uppercase;
  color: var(--white);
  font-weight: bold;
  letter-spacing: .1rem;
  transition: color .15s ease;
}
header nav a.active{
  color:var(--accent)
}
header nav a:hover{
  color: var(--accent)
}
header .cart{
  cursor: pointer;
  position: relative;
  text-decoration: none;
  color: white;
}
header .cart img{
  fill: white;
}
header .cart > span{
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -1rem;
  right: -1rem;
  background-color: var(--accent);
  border-radius: 50%;
}

header .cart-show{
  background-color: rgba(0,0,0, .5);
  max-width: none;
  position: absolute;
  z-index: 9;
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  top:0;
  left: 0;
  overflow-y: hidden;

}

header .cart-modal{
  z-index: 10;
  position: absolute;
  padding: 2rem;
  max-width: 20rem;
  min-width: 20rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: white;
  top: 5rem;
  right: 5rem;
  border-radius: 1rem;
  color: var(--text);
  display: flex;
  flex-direction: column;
  align-items: center;
}
header .cart-modal >div:first-of-type > button{
  background: none;
  border: none;
  color: var(--text);
  text-transform: capitalize;
  cursor: pointer;
  text-decoration: underline;

}
header .cart-modal >div:first-of-type > button:hover{
  color: var(--accent);
  transition: color .2s ease;
}
header .cart-modal h3{
  color: black;
}
header .cart-modal h3.empty{
  color: var(--text);
  text-transform: capitalize;
}
header .cart-modal > div{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  width: 100%;

}
header .cart-modal h5{
  font-weight: bold;
  color: black;
  font-size: 1.1rem;
  text-transform: uppercase;
}


header .cart-modal > div .product-cart-change{
  margin-left: auto;
  display: flex;
  background-color: var(--gray);
  align-items: center;
  justify-content: center;
  font-size: .8rem;
  font-weight: bold;
}
header .cart-modal > div .product-cart-change >div{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2ch;
}
header .cart-modal > div .product-cart-change button{
  width: 2.2em;
  height: 2.2rem;
  cursor: pointer;
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: .9rem;
  transition: background-color .2s ease;

}
header .cart-modal > div .product-cart-change button p{
  transform: translateY(5%);
}
header .cart-modal > div .product-cart-change button:hover{
  background-color: var(--lightGray);
  color: var(--accent);
}
header .cart-modal img{
  max-width: 4rem;
  border-radius: 1rem;
}
header .cart-modal .cart-price p:first-of-type{
  text-transform: uppercase;
}
header .cart-modal .cart-price p:last-of-type{
  font-weight: bold;
  color: black;
}

header .cart-modal .check-out{
  text-decoration: none;
  text-align: center;
  display: block;
  width: 100%;
  border: none;
  background-color: var(--accent);
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  padding: 1rem 1.5rem;
  text-transform: uppercase;
  
  
}
header .cart-modal .check-out:hover{
  background-color: var(--accentLight);
  transition: background-color .2s ease;
}