main.homepage .banner{
  position: relative;
  background-color: var(--black);
  margin-bottom: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main.homepage .banner .banner-content{
  
  position: absolute;
  top: 0;
  margin: 0 auto;
  text-align: left;
  width: 1110px;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  color: white;
}
main.homepage .banner .banner-content h4{
  text-transform: uppercase;
  letter-spacing: .8rem;
  font-weight: 600;
}
main.homepage .banner .banner-content h1{
  max-width: 20ch;
  line-height: 1.1;
  font-size: 3.5rem;
}
main.homepage .banner .banner-content h4,
main.homepage .banner .banner-content p{
  color: var(--textLight);
}
main.homepage .banner .banner-content p{
  max-width: 40ch;
}
main.homepage button{
  text-decoration: none;
  background-color: var(--accent);
  color: var(--white);
  padding: 1rem;
  border: 0;
  font-size: 1.1rem;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  transition: background-color .2s ease;
  align-self: flex-start;
}

main.homepage button:hover{
  background-color: var(--accentLight);
}

.product-stack{
  max-width: 1110px;
  margin: 4rem auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.product-stack > div{
  border-radius: 1rem;
  position: relative;
  display: flex;
  gap: 4rem;
  overflow: hidden;
}

.product-stack>div:first-of-type{
  padding-top: 6rem;
  background: url("../images//home/desktop/pattern-circles.svg") no-repeat;
  background-size: cover;
  background-color: var(--accent);
  background-position: -15rem -9rem;
  
}

.product-stack>div:first-of-type img{
  max-width: 25rem;
  margin-left: 10rem;
  margin-bottom: -20px;
  
}

.product-stack > div:first-of-type >div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 30%;
  color: var(--textLight);
}
.product-stack > div:first-of-type >div h2{
  font-size: 3rem;
  font-weight: bold;
  color: white;
  max-width: 3ch;
  letter-spacing: .5rem;
}
.product-stack > div:first-of-type >div button{
  background-color: var(--black);
}
.product-stack > div:first-of-type >div button:hover{
  background-color: #4c4c4c;
}

.product-stack >div:nth-of-type(2) > div{
  position: absolute;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10rem;
  gap: 2rem;
}
.product-stack >div:nth-of-type(2) > div >button,
.product-stack >div:nth-of-type(3) > div >button{
  background-color: transparent;
  color: black;
  font-weight: 400;
  border: 1px black solid;
}
.product-stack >div:nth-of-type(2) > div >button:hover,
.product-stack >div:nth-of-type(3) > div >button:hover{
  background-color: black;
  color: white;
}
.product-stack >div:nth-of-type(3){
  display: grid;
  width: 100%;
  grid-template-columns: repeat(2, 1fr);
}
.product-stack >div:nth-of-type(3) img{
  border-radius: 1rem;
}
.product-stack >div:nth-of-type(3) > div {
  background-color: var(--gray);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 6rem;
  gap: 2rem;
}